



.wrapper-black{
	width: 1350px;
	height: 50px;
	background-color: black;


}

header ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

header ul li{
	float: left;
	width: 16.66667%;
	margin: 0;
	padding: 0px;
}

header a{
	color: white;
	font-size: 1em;
	padding: 15px;
	text-align: center;
}

header a:hover{
	color: #A6A6A6;

}

.feature1{
	margin-left: 300px;

}

.wrapper-grey{
	width: 1350px;
	font-size: 13px;
	background-color: rgb(246, 246, 246);
	color: #4e4e4e;
}


.container ul li{
	float: left;
	width: 12%;
	margin: 0;
	padding: 0;
}


.container a{
	margin-top: 60px;
	font-size: 1.25em;
	padding-right: 15px;
	text-align: center;
	color: black;
}




.container0{
	background-color: rgb(9, 93, 103);
	margin-bottom: 150px;
	padding-top: 40px;
	height: 500px;

}




.container0 h1{
	color: white;
	font-size: 80px;
	



}


.container0 p a{
	background-color: black;
	color: white;
	border-color: black;
}



.container1{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 60px;
    padding-left: 200PX;
    padding-right: 40px;
    text-align: right;
}



.container2{
	background-color: rgb(242, 242, 242);
	padding-bottom: 700px;
	padding-top: 40px;
	font-size: 17px;
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
	height: 100px;
	text-align: center;


}

.container2 p a{
	background-color: black;
	border-color: black;
	color: white;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}










.container3{
	background-color: rgb(255, 255,255);
	padding-bottom: 40px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: left;
	font-size: 17px;
	padding-left: 300px;
	margin-right: 0px;
	
}





.container4{
	text-align: left;
	padding-right: 150px;
	padding-left: 80px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 17px;
	background-color: white;
	float: center;

}






.container5{
	background-color: rgb(242, 242, 242);
	padding-bottom: 70px;
	padding-top: 70px;

}

.container5 p a{
	background-color: black;
	border-color: black;
	color: white;
	padding-right: 30px;
	padding-left: 30px;
}

.container5 p a:hover{
color: white;
background-color: rgb(242, 242, 242);
}





.container6{
	background-color: rgb(252, 252, 252);
	padding-bottom: 600px;
	padding-top: 10px;
	font-size: 20px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	height: 100px;
	text-align: center;

}


.container6 img{
height-top: 300px;
}


.container7{
	background-color: rgb(242, 242, 242);
	padding-bottom: 70px;
	padding-top: 70px;

}

.container6 p a{
	background-color: black;
	border-color: black;
	color: white;
	padding-right: 30px;
	padding-left: 30px;
}

.container6 p a:hover{
color: white;
background-color: black;
}

.footer{
	padding-top: 50px;
	padding-left: 60px;
	padding-right: 40px;
	background-color: black;
	color: white;

}



.container7 h1{
	font-size: 40px;
}


.footer{
	padding-top: 50px;
	padding-left: 60px;
	padding-right: 40px;
	background-color: black;
	color: white;

}

.footer a{
	color: white;
}


.footer a:hover{
	color: rgb(242, 242, 242);
}

.form-control{
	background-color: black;
	border-color: black;
	color: white;
}


.container11{
	color: white;
	background-color: black;
	padding-left: 150px;
width: 100%;
}


.card-white{
		background: white;
	padding: 30px;
	box-shadow: 1px 1px 2px #e7e7e7;
	border-radius: 4px;
	margin: 20px 50px;
	width: 20%;
	height: 600px;
	margin-left: 10px;
	position: relative;
	
	}


	
.footer .fa{
	padding-left: 15px;
	width: 30px;
	height: 30px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 25px;
	border: 2px solid white;


}



.fa:hover{
	background-color: white;
	color: black;
}

